[package]
name = "artisan_tools"
authors = ["Gregers Poulsen <gp@skytem.com>"]
version = "0.1.0"
edition = "2021"
description = "Tools to help the software artisan make their craft a breeze."
repository = "https://github.com/gregerspoulsen/artisan_tools"
categories = ["development-tools", "command-line-utilities"]
rust-version = "1.81"

[[bin]]
name = "at"
path = "src/main.rs"

[dependencies]
clap = { version = "4", features = ["derive"] }
anyhow = "1.0"
gix = "^0.72"
semver = "^1.0"

[dev-dependencies]
assert_cmd = "2.0.14"
predicates = "3.1.0"
assert_fs = "1.1.1"
testresult = "0.4.1"
pretty_assertions = "1.4.1"
tempfile = "3.10"
